@use "../base/variables" as *;

.about {
  @include flex-between;
  position: relative;
  margin: 3% 0 3% 0;

  &__content {
    z-index: 2;
    width: 45%;
    height: 100%;
    margin: 10% 5% 7% 5%;

    &--picture {
      width: 100%;
      height: 100%;
      border-top-left-radius: 2vw;
      border-bottom-right-radius: 2vw;
      overflow: hidden;
      @include flex-center;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.2s ease-in-out;
        &:hover {
          @include hover-card;
        }
      }
    }
  }

  &__description {
    width: 55%;
    margin-right: 18%;

    &--parg {
      width: 100%;
      font-size: $font-size-default;
      font-weight: 600;
      padding: 2% 0;
    }
  }

  &::before {
    @include bg-banner-about;
    content: "";
    width: 26%;
    height: 90%;

    background-position: center;
    border-top-right-radius: 2vw;
    border-bottom-right-radius: 2vw;

    opacity: 40%;
    position: absolute;
    top: 10%;
    margin: 0;
  }
}
@media (max-width: 1300px) {
  .about {
    &__description {
      width: 52.8%;
      margin-right: 20%;

      &--parg {
        font-size: 1.8vw;
      }
    }
  }
}
@media (max-width: 1324px) {
  .about {
    &__content {
      margin: 8% 4% 5% 2%;
      height: 30vh;
    }

    &__description {
      width: 65%;
      margin-right: 15%;
    }

    &::after {
      width: 10%;
      // height: calc(100vh + 100);
    }
  }
}
@media (max-width: 1024px) {
  .about {
    &__content {
      margin: 8% 4% 5% 2%;
      height: 30vh;
    }
  }
}

@media (max-width: 800px) {
  .about {
    &__content {
      margin: 8% 4% 5% 2%;
      height: 30vh;
    }

    &__description {
      width: 65%;
      margin-right: 15%;

      &--parg {
        font-size: 2vw;
      }
    }
  }
}
@media (max-width: 700px) {
  .about {
    &__description {
      &--parg {
        font-size: 2.2vw;
      }
    }
  }
}

@media (max-width: 550px) {
  .about {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 10%;

    &__content {
      width: 80%;
      margin: 25% 4% 5% 5%;
      height: 25vh;
    }

    &__description {
      width: 80%;
      margin-left: 15%;

      .title__content--left--top {
        position: absolute;
        top: 0;
        left: 5%;

        h2 {
          font-size: 15vw;
        }

        p {
          font-size: 5vw;
        }
      }

      &--parg {
        font-size: 3.5vw;
      }
    }

    &::before {
      width: 10%;
      top: 22%;
      height: 83%;
    }

    &::after {
      display: none;
    }
  }
}
@media (max-width: 320px) {
  .about__description--parg{
    font-size: 4.5vw;
  }
}
