@use "../base/variables" as *;

.comments {
  @include flex-center;
  flex-direction: column;
  position: relative;
  padding: 5% 0;

  &__cards {
    width: 92%;
    position: relative;
    margin: 1%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 5;

    .card__left,
    .card__right {
      @include comments-card;
      &:hover {
        cursor: pointer;
      }
    }

    .btn__expand {
      display: none;
    }

    .card__left {
      animation: leftToRightSlide linear;
      animation-timeline: view();
      animation-range: entry cover 100%;
    }
    .card__right {
      animation: rightToLeftSlide linear;
      animation-timeline: view();
      animation-range: entry cover 100%;
    }

    @keyframes rightToLeftSlide {
      0% {
        display: none;
        transform: translateX(40%);
        opacity: 0.5;
      }
      50% {
        display: grid;
        opacity: 1;
      }
      100% {
        transform: translateX(-40%);
        opacity: 0.5;
        display: none;
      }
    }
    @keyframes leftToRightSlide {
      0% {
        display: none;
        transform: translateX(-40%);
        opacity: 0.5;
      }
      50% {
        display: grid;
        opacity: 1;
      }
      100% {
        display: none;
        transform: translateX(40%);
        opacity: 0.5;
        display: none;
      }
    }
  }

  button {
    @include btn-seetings;
  }
}

@media (max-width: 1324px) {
  .comments__cards {
    width: 98%;
  }

  @keyframes rightToLeftSlide {
    0% {
      transform: translateX(30%);
    }
    100% {
      transform: translateX(-30%);
    }
  }
  @keyframes leftToRightSlide {
    0% {
      transform: translateX(-30%);
    }

    100% {
      transform: translateX(30%);
    }
  }
}
@media (max-width: 1024px) {
  .comments__cards {
    width: 98%;

    .card {
      &__left,
      &__right {
        width: 38%;
      }
    }
  }

  @keyframes rightToLeftSlide {
    0% {
      transform: translateX(30%);
    }
    100% {
      transform: translateX(-30%);
    }
  }
  @keyframes leftToRightSlide {
    0% {
      transform: translateX(-30%);
    }

    100% {
      transform: translateX(30%);
    }
  }
}
@media (max-width: 750px) {
  .comments__cards {
    width: 98%;

    .card {
      &__left,
      &__right {
        width: 41%;

        figure figcaption .card--subtitle {
          font-size: 2.5vw;
        }
      }
    }
  }

  @keyframes rightToLeftSlide {
    0% {
      transform: translateX(20%);
    }
    100% {
      transform: translateX(-20%);
    }
  }
  @keyframes leftToRightSlide {
    0% {
      transform: translateX(-20%);
    }

    100% {
      transform: translateX(20%);
    }
  }
}
@media (max-width: 650px) {
  .comments__cards {
    width: 98%;

    .card {
      &__left,
      &__right {
        width: 41%;

        figure {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;

          picture {
            width: 45%;
          }

          figcaption {
            text-align: center;
          }
        }

        .card__parg {
          text-align: center;
        }
      }
    }
  }
}

@media (max-width: 550px) {
  .comments__cards {
    width: 98%;

    .card {
      &__left,
      &__right {
        width: 47%;

        figure figcaption .card--subtitle {
          font-size: 3.5vw;
        }
      }
    }

    .btn__expand {
      display: flex;
      padding-top: 4%;
      width: 70%;

      button {
        @include btn-seetings;
        padding: 5% 5%;
        width: 100%;
        font-size: 3vw;
        // background-color: red;
      }
    }
  }

  @keyframes rightToLeftSlide {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-0%);
    }
  }
  @keyframes leftToRightSlide {
    0% {
      transform: translateX(-0%);
    }

    100% {
      transform: translateX(0%);
    }
  }
}
@media (max-width: 450px) {
  .comments__cards {
    width: 98%;

    .card {
      &__left,
      &__right {
        width: 100%;

        figure figcaption .card--subtitle {
          font-size: 3.5vw;
        }
      }
    }
  }
}
@media (max-width: 350px) {
  .comments__cards {
    width: 98%;

    .card {
      &__left,
      &__right {
        width: 90%;
        margin-bottom: 5%;

        figure figcaption .card--subtitle {
          font-size: 3.5vw;
        }
      }
    }

    .btn__expand {
      display: flex;
      padding-top: 4%;
      width: 70%;

      button {
        font-size: 5vw;
        // background-color: red;
      }
    }
  }
}
