@use "../base/variables" as *;

.comments {
  @include flex-center;
  flex-direction: column;
  position: relative;
  padding: 5% 0;


  &__cards {
    width: 100%;
    position: relative;
    margin: 1%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 5;

    .card__left,
    .card__right {
      @include comments-card;
      &:hover {
        cursor: pointer;
      }
    }

    .card__left {
      animation: rightToLeftSlide linear;
      animation-timeline: view();
      animation-range: entry cover 100%;
    }
    .card__right {
      animation: leftToRightSlide linear;
      animation-timeline: view();
      animation-range: entry cover 100%;
    }

    @keyframes rightToLeftSlide {
      0% {
        transform: translateX(140px);
        opacity: 0.5;
      }
      50% {
        opacity: 1;
      }
      100% {
        transform: translateX(-300px);
        opacity: 0.5;
      }
    }
    @keyframes leftToRightSlide {
      0% {
        transform: translateX(-100px);
        opacity: 0.5;
      }
      50% {
        opacity: 1;
      }
      100% {
        transform: translateX(140px);
        opacity: 0.5;
      }
    }
  }

  button {
    @include btn-seetings;
  }
}
