@use "../base/variables" as *;
.gallery {
  padding: 5% 10%;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 40%;
    height: 100%;
    top: 0;
    background-image: url("../../assets/pictures/plant_banner.png");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 20%;
    z-index: -1;
  }
  &::before {
    right: 0;
    transform: rotate(180deg);
  }

  &__title {
    @include flex-between;
    position: relative;
    z-index: 5;

    &__controllers {
      width: 12%;
      @include flex-between;
      margin-right: 4%;
      gap: 5%;

      &--pagination,
      &--next {
        @include flex-center;
        border: none;
        background: transparent;
        font-size: $font-size-default;
        font-weight: 900;
        cursor: pointer;
        border-radius: 50%;
        padding: 4%;

        &:hover {
          transform: scale(1.1);
          transition: 0.2s;
        }
      }

      &--pagination {
        padding: 4% 10%;
        border: solid 1px $bg-primary;
        color: $bg-primary;

        &.selected {
          background-color: $bg-primary !important;
          color: $color-title;
        }
      }
    }
  }

  &__picture {
    height: 100vh;
    display: grid;
    gap: 2%;
    grid-template-columns: repeat(3, auto);
    grid-auto-rows: auto;

    animation: gallery 2s ease-in-out forwards;

    .item {
      position: relative;
      overflow: hidden;
      border-radius: 12px;
      // width: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.2s ease-in-out;
      }

      &:hover {
        img {
          @include hover-card;
        }
      }
    }
    .item-1 {
      grid-column: span 1;
      grid-row: span 2;
    }

    .item-2 {
      grid-column: span 2;
      grid-row: span 1;
    }

    .item-3 {
      grid-column: span 1;
      grid-column: span 1;
    }
    .item-4 {
      grid-column: span 1;
      grid-row: span 2;
    }

    .item-5 {
      grid-column: span 2;
      grid-row: span 1;
    }
  }
}

.gallery__picture {
  position: relative;
  overflow: hidden;
}

.gallery__picture.slide {
  animation: slideFromRight 0.6s ease forwards;
}

@keyframes slideFromRight {
  from {
    opacity: 0;
    transform: translateX(80px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
