@use "../base/variables" as *;

header {
  width: 100%;
  height: 85vh;
  @include bg-banner-header;
  background-position: 95% 55%;

  .header__content {
    @include center-elements;
    background-color: #0000008f;

    height: 100%;
    flex-direction: column;
    padding: 9.5% 0 6% 0;

    &--parg {
      color: $color-title;
      font-size: $font-size-subtitle;
      font-weight: 700;
      animation: pargRight 3s ease-in-out forwards;
    }

    h1 {
      font-size: $font-size-title;
      font-family: $font-secondary;
      color: $color-title;
      margin-bottom: 2%;
      animation: titleLeft 1s ease-in-out forwards;
    }

    &--description {
      @include center-elements;
      width: 100%;
      margin-bottom: 5%;
      animation: title 1s ease-out forwards;

      p {
        width: 47%;
        font-size: $font-size-default;
        text-align: center;
        color: $color-title;
      }
    }

    &--btn {
      @include btn-seetings;
      padding: 1.5% 4%;
    }
  }
}

@keyframes pargRight {
  0% {
    opacity: 0;
    transform: translateX(400px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes titleLeft {
  0% {
    opacity: 0;
    transform: translateX(-400px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@media (max-width: 1024px) {
  header {
    .header__content {
      &--description {
        p {
          width: 75%;
          font-size: 1.8vw;
        }
      }
    }
  }
}
@media (max-width: 800px) {
  header {
    height: 85vh;
    .header__content {
      &--parg {
        font-size: 2.8vw;
      }
      h1 {
        font-size: 9vw;
      }
      &--description {
        p {
          width: 75%;
          font-size: 2vw;
        }
      }

      &--btn {
        font-size: 2vw;
      }
    }
  }
}
@media (max-width: 550px) {
  header {
    height: 87vh;
    .header__content {
      @include flex-around;
      &--parg {
        font-size: 5vw;
      }
      h1 {
        font-size: 14vw;
        margin-bottom: 0%;
      }
      &--description {
        p {
          width: 75%;
          font-size: 4vw;
        }
      }
      
      &--btn {
        font-size: 4vw;
        padding: 4% 9%;
      }
    }
  }
}
