@use "../base/variables" as *;

.signin {
  @include flex-center;
  flex-direction: column;
  background-color: $bg-signin;
  padding: 4% 0;

  &__parg {
    text-align: center;
    width: 40%;
    font-size: $font-size-btn;
    margin-bottom: 5%;
    color: $color-descript-form;
  }

  form {
    width: 60%;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2%;

    input,
    select {
      width: 49%;
      padding: 3% 5% 3% 3%;
      margin-bottom: 2%;
      font-size: 0.9vw;
      border-radius: 1vw;
      border: none;
      display: block;
    }
    a {
      width: 50%;
      button {
        @include btn-seetings;
        width: 100%;

        padding: 3% 0;
        margin-top: 5%;
        margin-left: 2%;
        margin-bottom: 10%;
        z-index: 2;
      }
    }
  }
}
@media (max-width: 1324px) {
  .signin {
    form {
      select,
      input {
        font-size: 1.1vw;
      }
    }
  }
}
@media (max-width: 1124px) {
  .signin {
    &__parg {
      width: 80%;
    }
    form {
      select,
      input {
        font-size: 1.4vw;
      }
    }
  }
}
@media (max-width: 850px) {
  .signin {
    form {
      width: 90%;
      select,
      input {
        font-size: 1.7vw;
      }
    }
  }
}
@media (max-width: 650px) {
  .signin {
    form {
      select,
      input {
        font-size: 2.2vw;
      }
    }
  }
}
@media (max-width: 550px) {
  .signin {
    width: 100%;
    form {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      select,
      input {
        width: 80%;
        font-size: 2.9vw;
      }
    }
  }
}
@media (max-width: 350px) {
  .signin {
    form {
      width: 100%;
      select,
      input {
        width: 90%;
        font-size: 5vw;
      }
    }
  }
}
