@use "../base/variables" as *;

.data__main {
  background-color: $bg-primary;
  padding: 2% 0;
  .slick-slider {
    position: relative;
  }

  .slick-list {
    overflow: hidden;
  }

  .slick-track {
    display: flex;
    align-items: stretch;
  }

  .statistics-slide {
    padding: 0 3%;
    height: auto;

    a {
      @include flex-around;
      color: $color-title;
      text-decoration: none;
      height: 100%;

      p {
        width: 50%;
      }

      p:first-child {
        width: 50%;
        font-size: $font-size-statistics;
        text-align: center;
      }

      p:last-child {
        width: 60%;
        padding-right: 4%;
      }
    }
    border-right: solid 1px #fff;

    &:not(:first-child) {
      border-left: solid 1px $bg-secondary;
    }

    &:hover {
      a {
        p:last-child {
          text-decoration: underline;
        }
      }
    }
  }

  .slick-slide {
    border: none !important;
    outline: none;
  }
}
