.custom-select {
  width: 49%;
  position: relative;
  font-size: 0.9vw;

  &__header {
    background: #fff;
    border-radius: 1vw;
    padding: 6%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border: none;

    span {
      width: 10vw;
      color: #6d6d6d;
      text-transform: capitalize;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: left;
    }

    .icon {
      font-size: 1vw;
      transition: transform 0.2s;
    }

    &.open .icon {
      transform: rotate(180deg);
    }

    &.open {
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
    }
  }

  &__list {
    width: 100%;
    background: white;
    border-bottom-left-radius: 1vw;
    border-bottom-right-radius: 1vw;
    position: absolute;
    top: 80%;
    left: 0;
    z-index: 10;
    overflow-y: hidden;

    list-style: none;
    box-shadow: 1px 18px 10px 0px rgba(0, 0, 0, 0.196);
    z-index: 999;
    ul {
      max-height: 200px;
      overflow-y: auto;
      li {
        padding: 3% 6%;
        cursor: pointer;
        color: #6d6d6d;
        transition: 0.2s;
        text-align: left;

        &:hover {
          background-color: #d2eac9; // Verde claro
        }

        &.selected {
          background-color: #6bbc65; // Verde
          color: white;
          font-weight: 600;
        }
      }

      &::-webkit-scrollbar {
        width: 6px;
      }
      &::-webkit-scrollbar-thumb {
        background: #222;
        border-radius: 10px;
      }
    }
  }
}

@media (max-width: 1324px) {
  .custom-select {
    &__header {
      .icon,
      span {
        font-size: 1.1vw;
      }
    }
    &__list {
      ul li {
        font-size: 1.1vw;
      }
    }
  }
}
@media (max-width: 1124px) {
  .custom-select {
    &__header {
      .icon,
      span {
        font-size: 1.4vw;
      }
    }
    &__list {
      ul li {
        font-size: 1.4vw;
      }
    }
  }
}
@media (max-width: 850px) {
  .custom-select {
    &__header {
      .icon,
      span {
        font-size: 1.7vw;
      }
    }
    &__list {
      ul li {
        font-size: 1.7vw;
      }
    }
  }
}
@media (max-width: 650px) {
  .custom-select {
    &__header {
      .icon,
      span {
        font-size: 2.2vw;
      }
    }
    &__list {
      ul li {
        font-size: 2.2vw;
      }
    }
  }
}
@media (max-width: 550px) {
  .custom-select {
    width: 80%;
    &__header {
      width: 100%;
      .icon,
      span {
        font-size: 2.9vw;
      }

      span{
        width: 100%;
      }
    }
    &__list {
      ul li {
        font-size: 2.9vw;
      }
    }
  }
}
@media (max-width: 350px) {
  .custom-select {
    &__header {
      span {
        width: 100%;
        font-size: 5vw;
      }
    }
    &__list {
      ul li {
        font-size: 5vw;
      }
    }
  }
}
