@use "../../base/variables" as *;
$font-size-title: clamp(5.5rem, 3vw, 3rem);

.title__content {
  &--left,
  &--center,
  &--right {
    &--top,
    &--bottom {
      display: flex;
      flex-direction: column;
      h2 {
        color: #cccccc;
        font-size: $font-size-title;
        animation: identifier linear;
        animation-timeline: view();
        animation-range: entry cover 30%;
      }

      p {
        font-size: $font-size-component-subtitle;
        font-weight: bolder;
        animation: identifier linear;
        animation-timeline: view();
        animation-range: entry cover 30%;
      }
    }

    &--bottom {
      flex-direction: column-reverse;
    }
  }

  &--center {
    &--bottom,
    &--top {
      @include flex-center;
    }
  }

  &--right {
    &--bottom,
    &--top {
      text-align: right;
    }
  }

  @keyframes identifier {
    0% {
      filter: blur(50px);
    }

    100% {
      filter: blur(0px);
    }
  }
}

@media (max-width: 1300px) {
  .title__content {
    &--left,
    &--center,
    &--right {
      &--top,
      &--bottom {
        h2 {
          font-size: 6vw;
        }

        p {
          font-size: 2.2vw;
        }
      }
    }
  }
}
@media (max-width: 700px) {
  .title__content {
    &--left,
    &--center,
    &--right {
      &--top,
      &--bottom {
        h2 {
          font-size: 9vw;
        }

        p {
          font-size: 5vw;
        }
      }
    }
  }
}
